:root {
  --main-dark: #11111e;
  --main-light: #9293b0;
  --accent-color: #958A85;
  --secondary-light: #d5daf1;
  --secondary-dark: #11101f;
  --alert-color: #d80c0c;
  --success-color: #126412;
}

html body{
  background-color: var(--main-dark);
  color: var(--main-light);
  font-family: Helvetica, Arial;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  right:0;
  bottom: 0;
}

header {
  background-color: var(--main-light);
  color: var(--main-dark);
  text-align: center;
  font-size: 40px;
  padding: 10px;
}

.centered-form {
  background-color: var(--main-light);
  color: var(--main-dark);
  width: 270px;
  margin: 180px auto;
  text-align: center;
  padding: 20px;
  font-size: 16px;
}

.centered-form input{
  background-color: var(--secondary-light);
  width: 90%;
  height: 30px;
  margin: 10px 0;
  border: none;
  padding-left: 20px;
  border-radius: 20px;
  font-size: inherit;
}

.centered-form button{
  background-color: var(--secondary-light);
  height: 30px;
  margin: 10px 0;
  border: none;
  padding: 0 10px;
  border-radius: 20px;
  font-size: inherit;
}


.log {
  display: none;
}
