:root {
  --main-bg-color: #fefefe;
  --main-acc-color: #c5c5c5;
  --main-dark: #11111e;
  --main-light: #9293b0;
  --accent-color: #958A85;
  --secondary-light: #d5daf1;
  --secondary-dark: #11101f;
  --alert-color: #d80c0c;
  --success-color: #126412;
  --header-color: #e1e1de;
}

body{
  background-color: var(--main-bg-color);
  margin: 0;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000000;
  background-color: #00000066;
  padding-top: 60px;
  font-size: 20px;
}


.modal-content{
  background-color: var(--main-bg-color);
  margin: 5% auto 15% auto;
  width: 80%;
  overflow: auto;
}

@media screen and (min-width: 600px){
  .modal-content{
    width: 480px;
  }
}


.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

.closex{
  position: absolute;
  right: 25px;
  top: 0;
  font-size: 40px;
  font-weight: bold;
}

.closex:hover,
.closex:focus{
  color: red;
  cursor: pointer;
}

img.avatar{
  width: 40%;
  border-radius: 50%;
}

.container{
  padding: 16px;
  text-align: center;
}

.modal input{
  width: 80%;
  padding: 8px 20px;
  margin: 8px 10%;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 20px;
  border: 1px solid #888;
  font-size: 20px
}

.modal button{
  width: 30%;
  padding: 8px 20px;
  margin: 8px 35%;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 20px;
  border: none;
  font-size: 20px;
  color: white;
  background-color: #4CAF50;
}

.modal button:hover{
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 500px){
  .modal button{
    width: 120px;
  }
}

.span-button{
  color: blue;
}

.span-button:hover{
  cursor: pointer;
}

.log{
  display: none;
}

/* Animations */

.animate{
  -webkit-animation: zoomanimate 0.6s;
  animation: zoomanimate 0.6s;
}

@-webkit-keyframes zoomanimate {
  from {transform: scale(0);}
  to {transform: scale(1);}
}

@keyframes zoomanimate {
  from {transform: scale(0);}
  to {transform: scale(1);}
}

header {
  background : var(--header-color);
  padding : 4px 12px;
  height : 60px;
  position: relative;
}

header .profile{
  position : absolute;
  right : 12px;
  bottom: 5;
  width : 60px;
}

header .profile img{
  width : 100%;
  border : none;
  border-radius : 50%;
}

header .profile img:hover{
  opacity : 0.8;
}

.dropdown{
  /* display: none; */
}
