:root {
  --main-bg-color: #fefefe;
  --main-acc-color: #c5c5c5;
  --main-dark: #0e0e0e;
  --main-light: #9293b0;
  --accent-color: #958A85;
  --secondary-light: #d5daf1;
  --secondary-dark: #11101f;
  --alert-color: #d80c0c;
  --success-color: #126412;
  --header-color: #e1e1de;
}

body{
  background-color: var(--main-bg-color);
  margin: 0;
  position: relative;
}

.modal {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: #000000;
  background-color: #00000066;
  /* padding-top: 60px; */
  font-size: 20px;
}


.modal-content{
  background-color: var(--main-bg-color);
  /* margin: 5% auto 15% auto; */
  --width: 80vw;
  /* text-align: center; */
  position: fixed;
  bottom: 10vh;
  left: calc(50vw - var(--width)/2);
  width: var(--width);
  overflow: auto;
}

@media screen and (min-width: 600px){
  .modal-content{
    width: 480px;
  }
}


.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

.closex{
  position: absolute;
  right: 25px;
  top: 0;
  font-size: 40px;
  font-weight: bold;
}

.closex:hover,
.closex:focus{
  color: red;
  cursor: pointer;
}

.profile-image{
  width: 40%;
  margin: 0 auto;
  position: relative;
}

.profile-image img.avatar{
  width: 100%;
}

img.avatar{
  width: 40%;
  border-radius: 50%;
}

.container{
  padding: 16px;
  text-align: center;
}

.modal input{
  width: 90%;
  padding: 8px 20px;
  margin: 8px 5%;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 20px;
  border: 1px solid #888;
  font-size: 20px
}

.modal button{
  width: 30%;
  padding: 8px 20px;
  margin: 8px auto;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 20px;
  border: none;
  font-size: 20px;
  color: white;
  background-color: #4CAF50;
}

.modal button:hover{
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 500px){
  .modal button{
    width: 120px;
  }
}

.span-button{
  color: blue;
}

.span-button:hover{
  cursor: pointer;
}

.log{
  display: none;
}

#user {
  --width: 8vh;
  --margin: 3vh;
  width: var(--width);
  height: : var(--width);
  position: fixed;
  bottom: var(--margin);
  right: var(--margin);
  z-index: 1;
}
#user img{
  width: 100%;
  border: none;
  border-radius: 50%;
}

#user:hover{
  cursor: pointer;
}

/* Animations */

.animate{
  -webkit-animation: zoomanimate 0.6s;
  animation: zoomanimate 0.6s;
}

@-webkit-keyframes zoomanimate {
  from {transform: scale(0);}
  to {transform: scale(1);}
}

@keyframes zoomanimate {
  from {transform: scale(0);}
  to {transform: scale(1);}
}





/* upload image */
.profile-image input{
  display: none;
}

.profile-image label{
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #FFFFFF;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all .2s ease-in-out;
  position: absolute;
  bottom: 3%;
  right: 8%;
  text-align: center;
  margin: auto;
}

.profile-image label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
}
